table{
  border: solid 1px cadetblue;
  border-collapse: collapse;
}

table tr{
  display: flex;
  justify-content: center;
  align-items: center;
}

table td{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: solid 1px cadetblue;
}

.box1{
  background-color: lightslategray;
}
.box2{
  background-color: lightpink;
}
.box3{
  background-color: yellow;
}
.box4{
  background-color: lightblue;
}
.box5{
  background-color: lightcoral;
}
.box6{
  background-color: lightcyan;
}
.box7{
  background-color: lightgoldenrodyellow;
}
.box8{
  background-color: lightgreen;
}
.box9{
  background-color: lightskyblue;
}